.tag-container{
        background-color:  #FF6060;
        text-align: center;
        border-radius: 15px;
        color: white;
        padding: 0px 20px;
}
.photographer-detail-container{
        display: flex;
        width: 100%;
}
.photographer-detail-container > div {
        width: 50%;
      }
.photographer-detail-container p {
text-align: start;
}
// .photographer-header{
        
// }