.About-header {
  text-align: center;
  margin: auto;
  position: relative;
}

.About-header img {
  width: 95%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.About-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
