// Variables
$header-width: 90%;
$max-header-width: 1240px;
$img-height: 200px;
$img-border-radius: 15px;
$container-width: 70%;
$container-margin-top: 38px;
$gap: 30px;
$mobile-container-width: 90%;
$mobile-breakpoint: 768px;

.About-header {
  text-align: center;
  margin: auto;
  position: relative;
  width: $header-width;
  max-width: $max-header-width;

  img {
    width: 100%;
    height: $img-height;
    object-fit: cover;
    border-radius: $img-border-radius;
  }
}

.About-container {
  width: $container-width;
  margin: auto;
  margin-top: $container-margin-top;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $gap;

  @media (max-width: $mobile-breakpoint) {
    width: $mobile-container-width;
  }
}
