// Variables
$primary-color: white;
$secondary-color: #ff6060;
$font-family: "Montserrat", sans-serif;
$font-size-base: 16px;
$font-weight-bold: 700;
$border-radius: 10px;
$margin-base: 10px;
$margin-bottom: 35px;
$card-width: 335px;
$card-height: 340px;

// Styles pour le conteneur de la carte
.card-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: $margin-base;
  margin-bottom: $margin-bottom;
  width: $card-width;
  height: $card-height;
  padding: $margin-base;
  border-radius: $border-radius;
  position: relative;
}

// Styles pour le titre de la carte
.card-title {
  position: absolute;
  bottom: 5px;
  left: 25px;
  color: $primary-color;
  font-size: 25px;
}

// Styles pour le lien de la carte
.card-item {
  color: $primary-color;
  text-decoration: none;
  font-size: $font-size-base + 2px; // 18px
  font-weight: $font-weight-bold;
  font-family: $font-family;
}

// Styles pour les écrans de petite taille
@media (max-width: 833px) {
  .card-container {
    margin: 0;
    margin-bottom: $margin-bottom;
    width: 100%;
    padding: 0;
    border-radius: $border-radius;
  }
}
