
.header-container {
    padding: 50px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
      width: 90%;
    max-width: 1240px;
    margin: auto;
    height: 68px;
  
    // Media query pour les petits écrans
    @media (max-width: 768px) {
      padding: 1rem;
      height: auto;
       align-items: flex-start;
    }
  }
  .header-container img{
    @media (max-width: 768px) {
      width: 145px;
      height: 46.88px;
      gap: 0px;
    }

  }
  .nav-bar {
    display: flex;
    justify-content: space-between;  
    font-family: Montserrat;
    max-width: 309px;
    color: black;
    font-size: 24px;
    font-weight: 500;
    height: 34px;
    align-items: center;
  
    // Media query pour les petits écrans
    @media (max-width: 768px) {
      
      font-size: 12px;
      font-weight: 500;
      line-height: 28px;
      text-align: right;
      gap: 26px;
      align-items: baseline;
      
    }
  }
  
  .nav-bar-item {
    margin-left: 30px;
    // Media query pour les petits écrans
    @media (max-width: 768px) {
      margin-left: 0; // Supprimer la marge à gauche pour les petits écrans
      
    }
  }
  