.advert-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 10px;
    margin-bottom: 50px;
    // width: 27%;
    width: 335px;
    height: 340px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.advert-title{
  
    position: absolute;
    bottom: 5px;
    left: 25px;
    color: white;
    font-size: 25px;

}
.advert-item{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
}